body,html{
  height: 100vh;
  overflow: hidden;
}

.fullHeight{
  height: 100%;
}

.filtersContainer{
  height: 225px;
}

.routesContainer{
  height: calc(100% - 225px);
  overflow: scroll;
  padding-bottom: 20px;
}
