<div class="container-fluid fullHeight">
  <div class="row fullHeight">
    <div class="col-md-6 fullHeight">
    <div class="filtersContainer">
      <h3>GoGoGo</h3>
      <div class="row">
        <div class="col-md-6">
        <input
          type="text"
          ng-model="searchTeam"
          placeholder="Search team"
          typeahead-on-select="onSelectedTeam($item, $model, $label, $event)"
          uib-typeahead="team for team in teams | filter:$viewValue "
          class="form-control"
        >
        </div>
        <div class="col-md-6">
          <button ng-if="filters.selectedTeam" ng-click="removeTeam()" type="button" class="btn btn-default">
            {{filters.selectedTeam}}
            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
          </button>
        </div>
      </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="filters.bike">
            Bike
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="filters.walking">
            Walking
          </label>
        </div>
        <rzslider rz-slider-model="slider.minValue"
          rz-slider-high="slider.maxValue"
          rz-slider-options="slider.options"></rzslider>
        <div style="width:100%" slideraxes>

        </div>
      </div>
      <div class="routesContainer">
      <div ng-repeat="(key, value) in routes.features |  limitTo: 10 | routes:filters:slider | groupBy: 'properties.teamid'">
        <h3>{{key}}</h3>
        <div ng-repeat="route in value">
          <p>
            {{route.properties.tm}} - {{route.properties.distance}}km - in {{(route.properties.endDatetime-route.properties.startDatetime) | date:'HH:mm:ss':'+000'}}
          </p>
          <p>
            Started on {{route.properties.startDatetime | date:'MMM d, y'}} at {{route.properties.startDatetime | date:'HH:mm:ss'}} and arrived at {{route.properties.endDatetime | date:'HH:mm:ss'}}
          </p>
          <div minimap route="route"></div>
        </div>
      </div>
    </div>
  </div>
    <div class="col-md-6 fullHeight">
      <div id="map" class="fullHeight" map></div>
    </div>
  </div>
</div>
