<div class="container-fluid fullHeight">
  <div class="row fullHeight">
    <div class="col-md-6 fullHeight">
    <div class="filtersContainer">
      <h3>GoGoGo</h3>
      <div class="row">
        <div class="col-md-6">
        <input
          type="text"
          ng-model="searchTeam"
          placeholder="Search team"
          typeahead-on-select="onSelectedTeam($item, $model, $label, $event)"
          uib-typeahead="team for team in teamsList | filter:$viewValue "
          class="form-control"
        >
        </div>
        <div class="col-md-6">
          <button ng-if="filters.selectedTeam" ng-click="removeTeam()" type="button" class="btn btn-default">
            {{filters.selectedTeam}}
            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
          </button>
        </div>
      </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="filters.bike">
            Bike
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="filters.walking">
            Walking
          </label>
        </div>
        <rzslider rz-slider-model="slider.minValue"
          rz-slider-high="slider.maxValue"
          rz-slider-options="slider.options"></rzslider>
        <div style="width:100%" slideraxes>

        </div>
      </div>
      <div class="routesContainer">
      <div ng-repeat="team in teams | filter: { key: filters.selectedTeam } | routes:filters ">
        <div ng-if="team.shown">
          <h3>{{team.key}}</h3>
          <div ng-repeat="route in team.values" ng-if="route.properties.show">
            <p>
              {{route.properties.tm}} - {{route.properties.distance}}km - in {{(route.properties.endDatetime-route.properties.startDatetime) | date:'HH:mm:ss':'+000'}}
            </p>
            <p>
              Started on {{route.properties.startDatetime | date:'MMM d, y'}} at {{route.properties.startDatetime | date:'HH:mm:ss'}} and arrived at {{route.properties.endDatetime | date:'HH:mm:ss'}}
            </p>
            <div minimap route="route"></div>
            <button class="btn btn-default" ng-click="getSingleRoute(team.key, route.properties.id)">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
            <button class="btn btn-default" ng-click="removeSingleRoute()">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
            <div class="singleRoute" ng-if="singleRoute && route.properties.id == singleRoute.features[0].properties.id">
              <ul>
                <li ng-repeat="line in singleRoute.features">
                  {{ line.properties.emotion }} - {{ line.properties.startDatetime | date:'HH:mm:ss' }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="col-md-6 fullHeight">
      <div id="map" class="fullHeight" map></div>
    </div>
  </div>
</div>
