<div layout="row" layout-sm="column">
	<div flex>
		<div map></div>
	</div>
	<div flex>
		<md-tabs>
		<md-tab ng-repeat="routeType in routes" label="{{routeType.key | parseTitles}}">
		<div layout="column" layout-fill layout-align="space-around">
			<md-content ng-style="{height: windowHeight}">
				<section ng-repeat="team in routeType.values | orderBy:'values.length':true">
					<md-subheader class="md-primary">
						team {{team.key}} || routes {{team.values.length}}
					</md-subheader>
					<md-list layout="column">
						<md-item ng-repeat="route in team.values | limitTo: 10">
							<md-item-content>
									<div minimap data="{{route.route}}"></div>
								<div class="md-tile-content">
									<p>
									route {{$index}}, kilometers {{route.kilometers}}, seconds {{route.time.seconds}}
									</p>
								</div>
							</md-item-content>
						</md-item>
					</md-list>
				</section>
			</md-content>
		</div>
		</md-tab>
		</md-tabs>
	</div>
</div>