<div layout="row" layout-sm="column">
	<div flex>
		<div map></div>
	</div>
	<div flex>
		<md-tabs md-selected="selectedIndex" id="transportationTab">
		<md-tab ng-repeat="routeType in routes" label="{{routeType.key | parseTitles}}">
    			<md-toolbar md-scroll-shrink id="routeFilter">
    			 <div layout="row" layout-sm="column" layout-align="space-around center">
        <md-input-container>
          <label>Top Teams</label>
          <input ng-model="lastNofTeams">
        </md-input-container>
        <md-input-container>
          <label>Routes per team</label>
          <input ng-model="lastNofRoutes">
        </md-input-container>
          <md-input-container>
          <label>Search team</label>
          <input ng-model="search.key">
        </md-input-container>
        </div>
    		</md-toolbar>

			<md-content ng-style="{height: windowHeight}">
				<section ng-repeat="team in routeType.values | orderBy:'values.length':true | filter:search | limitTo: lastNofTeams">
					<md-subheader>
						<div layout="row" layout-align="start center">
						  <div class="teamNumber">
								{{team.key}}
							</div>
						  <div class="routesNumber">
								Total routes: {{team.values.length}} <ng-md-icon icon="chevron_right" style="fill:red" size="20"></ng-md-icon>
								<!-- <div class="go"><md-button class="md-primary" ng-click="teamSubmit(team.key)">view on map</md-button></div> -->
						  </div>
						</div>
					</md-subheader>
					<md-list layout="column">
						<md-item ng-repeat="route in team.values | limitTo: lastNofRoutes">
							<md-item-content>
								<div class="md-tile-left">
								<div minimap data="{{route.route}}"></div>
								</div>
								<div class="md-tile-content">
									<p>
									route #{{$index+1}}
									</p>
									<h2>{{route.kilometers | pathlenght}} in <span ng-if="route.time.minutes >= 1">{{route.time.minutes}}min and </span>{{route.time.seconds}}sec</h2>
								</div>
							</md-item-content>
						</md-item>
					</md-list>
				</section>
			</md-content>
<!-- 		</div> -->
		</md-tab>
		</md-tabs>
	</div>
</div>